body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-shadow: #fc0 1px 0 10px;
}

/* Header Nav */
.header-nav {
  background-color: #000;
  height: 70px;
  color: #fff;
}

.header-nav h1,
h3 {
  margin-top: 0;
}

.header-nav h1 {
  position: relative;
  top: 38px;
  left: 20px;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.header-nav h3 {
  position: relative;
  left: 220px;
  bottom: 30px;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-items i {
  padding: 0 30px;
  margin-left: 40px;
}

ul {
  list-style-type: none;
}

/* Main Nav */
.main-nav {
  background-color: darkblue;
  height: 95px;
}

.main-nav h1 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  position: relative;
  top: 14px;
  left: 55px;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-nav .nav {
  display: flex;
}

.main-nav .nav li {
  padding: 0px 20px;
  margin-left: 18px;
}

.main-nav .nav li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.main-nav .nav li a:hover {
  color: #fc4f4f;
  cursor: pointer;
}

.nav-items i {
  cursor: pointer;
}

.main-nav .nav .middle-link {
  color: #f9e4d4;
  /* border-right: 1px solid #f7ccac; */
}

.main-nav .nav .last-link {
  color: #fc4f4f;
}

span {
  color: red;
}

#span-2 {
  color: #fff;
}

/* Middle Container */
.middle-container {
  background-color: #f7ccac;
  padding-bottom: 55px;
}

.middle-container h1 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
}

.middle-container p {
  font-size: 18px;
  font-family: "Merriweather", serif;
  color: #fff;
  line-height: 1.5;
}

.middle-flex-container {
  /* border: 1px solid blue; */
  padding-top: 85px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
}

.download-button,
.trial-button {
  margin-top: 40px;
  margin-left: 30px;
  /* margin-right: 5px; */
  padding: 20px 20px;
  background-color: #fc4f4f;
  border: none;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.download-button {
  position: relative;
  right: 25px;
}

.trial-button {
  background-color: #4d4c7d;
  position: relative;
  right: 30px;
}

/* Description Container */
.description-container {
  max-width: 1200px;
  /* border: 1px solid blue; */
  margin-top: 50px;
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
}

.description-container-items h1 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 100%;
  margin-left: 80px;
  text-align: justify;
}

.description-container-items p {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 70%;
  margin: auto;
  margin-left: 250px;
  margin-top: 40px;
  color: #333;
  text-align: justify;
}

.description-container-items button {
  margin-left: 240px;
}

.try-button {
  position: relative;
  top: 30px;
  left: 18px;
  padding: 20px 40px;
  background-color: #fc4f4f;
  border: none;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* Working Section */
.working-principle {
  background-color: darkblue;
  padding-top: 60px;
  padding-bottom: 80px;
}

.working-principle h1 {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-left: 85px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.work-container {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin-left: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.work-container h2 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  margin-left: 18px;
}

.work-container p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #f9e4d4;
  width: 90%;
  margin: 10px auto;
  text-align: justify;
  line-height: 1.5;
}

.work-container i {
  margin-left: 50px;
  font-size: 35px;
  color: #fc4f4f;
  margin-top: 8px;
}

/* Artists Section */

.artists {
  margin-top: 120px;
  padding-bottom: 50px;
}

.artists h1 {
  font-size: 3.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

.artists p {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  margin: 10px auto;
  text-align: justify;
}
/* .containers h1 {
  font-size: 3.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 50%;
  float: left;
  margin: auto;
  margin-left: 60px;
  position: relative;
  left: 55px;
  bottom: 12px;
}

.containers p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  width: 40%;
  float: right;
  margin: auto;
  margin-right: 70px;
  text-align: justify;
  line-height: 1.3;
  position: relative;
  right: 50px;
} */

.artists-container {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin-top: 50px;
  margin-left: 65px;
  display: flex;
  justify-content: space-around;
}

.artist-content {
  flex-basis: 23%;
}

.artist-content h4 {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.artist-content img {
  border-radius: 30px;
}

/* Subscription */
.subscription {
  background-color: darkblue;
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
}

.sub-contents h1 {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin-left: 45px;
}

.sub-contents h3 {
  font-size: 1.8rem;
  color: #fc4f4f;
  font-family: "Montserrat", sans-serif;
  margin-top: 2px;
  margin-left: 45px;
}

.sub-contents p {
  font-size: 17px;
  color: #f7ccac;
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin: auto;
  margin-left: 45px;
  text-align: justify;
}

.sub-button {
  margin-left: 20px;
}

.sub-contents ul {
  /* border: 1px solid yellow; */
  position: relative;
  right: 200px;
  top: 20px;
  padding: 60px 100px;
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 20px;
}

.sub-contents ul li {
  margin-top: 30px;
  margin-right: 10px;
}

/* Premium Section */
.premium {
  margin-top: 100px;
  padding-bottom: 100px;
}

.premium h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.premium p {
  font-size: 17px;
  line-height: 1.4;
  color: #333;
  width: 50%;
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: justify;
}

.premium-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.premium-items img {
  border-radius: 50%;
}

.premium-items h3 {
  margin-top: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #000;
  font-family: "Merriweather", serif;
}

.premium-items p {
  width: 90%;
  font-size: 17px;
  color: #333;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/* Footer Section */
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 10px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footer-items {
  flex-basis: 23%;
}

.footer-items h4 {
  font-size: 23px;
  color: #c4fb6d;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  margin-left: 37px;
}

.footer-items ul {
  list-style-type: none;
}

.footer-items li {
  padding: 10px 0;
}

.footer-items ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  font-family: "Merriweather", serif;
  /* display: block; */
}

.footer-items ul li a:hover {
  color: #ff4c29;
}

.footer-text {
  color: #fff;
  font-size: 16px;
}

.footer-text:hover {
  color: #ff4c29;
  cursor: pointer;
}

/* Footer Section Ends */
